*{
    margin : 0;
    padding: 0;
    color: white;
}

button{
    background-color: #f08804;
    padding: 3px;
}

#navbar{
    background-color: #0f1111;
    height: 50px;
    padding: 10px 0px 0px 5px;
}

#logo{
    color: #f08804;
    font-size: 25px;
}

a{
    text-decoration: none;
    margin-right: 200px;
}

input{
    color: black;
}